#heading{
	color:  #787878; 
	font-weight:bold; 
	font-size:25px;
	text-align: center;
}

#content{
	font-size: 17px;
	color: #787878;
}

#bold{
	font-weight: bold;
	color: #CC6666;
}
img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 20px; 
	padding-bottom: 20px;
}